:root {
  --pw-page-color: #ffffff;
  --pw-field-background-color: #efefef;
  --pw-button-focus-color: #dddddd;
  --pw-border-color: #cfcfcf;
  --pw-font-color: #222222;

  --sans: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

[data-theme="dark"] {
  --pw-page-color: #222222;
  --pw-field-background-color: #222222;
  --pw-button-focus-color: #666666;
  --pw-border-color: #666666;
  --pw-font-color: #ffffff;
}

body {
  margin: 0;
  color: var(--pw-font-color);
  background-color: var(--pw-page-color);
}

.title {
  font-family: 'Aleo', serif;
  font-size: 4rem;
  margin: 0;
  text-align: center;
}

.main {
  max-width: 600px;
  padding: 4rem 1rem 0;
  margin: 0 auto;
}

.options {
  display: flex;
  justify-content: space-evenly;
  font-family: var(--sans);
}

.pad-top {
  padding-top: 5px;
}

.dark-mode {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 1rem;
  border: 1px solid var(--pw-border-color);
  font-family: var(--sans);
}

@media (max-width: 600px) {
  .main {
    padding-top: 2rem;
  }
  .title {
    font-size: 2.75rem;
  }
  .title > span {
    display: block;
  }
  .options {
    flex-direction: column;
    text-align: center;
  }
  .options > * {
    padding-bottom: 0.5rem;
  }
}
